@import url(https://www.dafont.com/in-your-face-joffrey.font);

body{
    background-color: black;
    font-family: 'In Your Face, Joffrey!';
}

nav.menu-nav{
    align-content: center;
    text-align: center;
}

nav.menu-nav ul li.btn{
    display: inline-block;
    margin-top: 20px;
}

nav.menu-nav ul li a{
    text-decoration: none;
    color:white;
    padding: 30px;
}

nav.menu-nav ul li a:hover{
    background-color: grey;
}