*{
    font-family: Roboto;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2{
    padding:1%;
}

hr {
    margin-right : 80px;
    top:120px;
	width : 1200px;
    color:black;
}

a {
    text-decoration: none;
    color: black;
}

#delete_btn{
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    border-style:outset;
    border-color: rgb(246, 72, 72);
    color:white;   
    cursor: pointer;
}

#title{
    padding: 1%;
}

form{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

form input{
    margin: 20px;
}

#submit{
    padding : 15px;
    cursor: pointer;
}

#users_table{
    border-spacing: 0;
    border-collapse: collapse;
}

#users_table td{
    border:solid black 1px;
    padding : 20px;
}
